# Ignore build output
/bin/
/obj/
/*.dll
/*.pdb

# Ignore user-specific files
.vs/
FinanceManager/.vs
/.idea/
/.suo
/.user
/*.userprefs
/*.sln.ide
.DS_Store
*.user


# Ignore NuGet packages
/packages/
*.nupkg

# Ignore files containing secrets or credentials
secrets.json
appsettings.json
*.pfx